
html {
  font-size: 16px;
}
body {
  @include margin(0, 0, 0, 0);
  @include size(null, 100vh);
  font-family: "AvenirLTSTD-Roman", sans-serif;
  background-color: #e0e1e2;
}

.bg-white{
  background-color: $white;
}
.bg-cont{
  background-image: url("../images/library-bg.jpg");
  background-size: cover;
  background-color: #2121216b;
  background-blend-mode: color-burn;
}

.p-calendar{
  input{
    padding: 0.375rem .75rem;
  }
}
.dropdown-form{
  span{
    padding: 0.375rem .75rem;
  }
}
ul{
  padding: 0 !important;
  margin: 0 !important;
  li{
    list-style: none;
  }
}
a{
  text-decoration: none !important;
  &:hover{
    background: none !important;
  }
}
.cursor-pointer{
  cursor: pointer;
}

.logo{
  height: 40px;
}
