<div class="row pt-5 m-0">
  <div class="col-md-4 col-12">
    <div class="d-flex align-items-center justify-content-center ">
      <p-card [style]="{width: '420px',margin :'0 auto'}" styleClass="p-card-shadow">
        <form [formGroup]="addProduct" (ngSubmit)="onSubmit()" class=" mt-2">
          <div class="form-group">
            <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]"
               accept="image/*" maxFileSize="1000000" url=""
              (onSelect)="onUpload($event)"></p-fileUpload>
          </div>
          <div class="form-group mb-2">
            <p-dropdown formControlName="product_category" class="w-100" styleClass="w-100 dropdown-form" [options]=""
              optionLabel="name" placeholder="Select Category"></p-dropdown>
          </div>
          <div class="form-group mb-2">
            <input type="text" class="form-control" pInputText placeholder="Name" formControlName="product_name">
          </div>
          <div class="form-group mb-2">
            <input type="text" class="form-control" pInputText placeholder="Price" formControlName="price">
          </div>
          <div class="form-group mb-2">
            <textarea rows="5" cols="37" placeholder="Add Description" pInputTextarea
              formControlName="discription"></textarea>
          </div>
          <div class="sizes  text-center">
            <p-button label="Submit" icon="pi pi-check" styleClass="p-button-sm" type="submit"></p-button>
          </div>
        </form>
      </p-card>
    </div>
  </div>
  <div class="col-md-8 col-12">
    <div class="">
      <p-table [value]="products" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Category</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td><span class="text-danger cursor-pointer"><i class="pi pi-trash"></i></span><span
                class="ms-2 text-success cursor-pointer"><i class="pi pi-file-edit"></i></span></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
